# main programs and generated code files
opc
config.h
opc.1

# generated layouts and helpers
openPCells.*
openPCells_extracted.cir
pfile.lua

# NDA-related
tech/GF22FDSOI
tech/cmos22fdsoi
tech/TSMC28HPCplus

# build object files
src/*.o

# lua object files
src/lua/lua
src/lua/luac
src/lua/*.o
src/lua/liblua.a

# tex auxiliary files
*.aux
*.log
*.toc
*.pygtex
*_minted*

# development information
devinfo

# test code
srctodo

# test files
testfiles
