html {
    /*background: #aaaaaa;*/
}
body {
    width: 50em;
    margin: 0 auto;
    padding: 8pt;
    font-family: "sans-serif";
    font-size: 100%;
    background: #ffffff;
    hyphens: auto;
}

p {
    margin: 2pt;
    text-align: justify;
}

.title {
    font-weight: bold;
    font-size: 2em;
    color: #000000;
    text-decoration: none;
}

summary {
    font-weight: bold;
    font-size: 2em;
    color: #000000;
    padding: 10pt 4pt 4pt 4pt;
    margin-bottom: 10pt;
    border-bottom: 2px solid #aaaaaa;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    color: #000000;
    border-bottom: 2px solid #aaaaaa;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
    color: #000000;
}

li {
    margin: 0pt 30pt 0pt 10pt;
    text-align: justify;
}

.subtitle {
    font-size: 1.5em;
}

.topbar {
    width: 100%;
    background-color: #f2f2f2;
    padding: 0pt 0pt 0pt 0pt;
}

.topbar-content {
    padding: 10pt 5pt 1pt 20pt;
}

.container {
    width: 100%;
    padding: 10pt 0pt 10pt 0pt;
}

.documentation-section {
    padding: 12pt;
    margin: 10pt;
    border-radius: 12px;
    background-color: #f6f6f6;
}

.item {
    padding: 12pt;
    margin: 10pt;
    border-radius: 12px;
    background-color: #f6f6f6;
}

pre.shell {
    background-color: #eeeeee;
    padding: 5pt;
    border-radius: 2pt;
    font-size: 12pt;
    font: monospace;
}

pre.opc {
    background-color: #eaeaff;
    padding: 5pt;
    border-radius: 2pt;
    font-size: 12pt;
    font: monospace;
}

.APIref-examplecode {
    background-color: #eeeeee;
    padding: 5pt;
    border-radius: 2pt;
    font-size: 14pt;
}

.search-bar {
    width: 50%;
}

.footerbar {
    width: 100%;
    background-color: #f2f2f2;
    padding: 0pt 0pt 0pt 0pt;
    margin: 20pt 0pt 0pt 0pt;
}

footer {
    padding: 5pt 5pt 12pt 5pt;
    color: #444444;
    text-align: center;
}
