; this is a sample .cdsinit that shows how to set up openPCells with cadence virtuoso

; the used technology has to be defined, this will be passed verbatim to opc
; so if you call opc like this: opc --technology tech42 ...
; then OPCTech should be "tech42"
OPCTech = "tech42"
; for this to work you also need to make sure that opc can find the technology files
; the easiest way to do this is to add the location to the config file at ~/.opcconfig.lua:
; please note that the path to the parent directory of the technology files, not the actual directory
; return {
;     techpaths = {
;         "/path/to/technology_files"
;     }
; }

; the installation DIRECTORY of openPCells has to be given:
OPCPath = "/path/to/opc"

; the name of the executable (which will be 'opc' if you don't change this manually during compiling)
OPCExec = "opc"

; layout cells in virtuoso can also be exported to an opc representation.
; as layout cells use PDK layers, the generic notation gets lost.
; A reverse layer map can retrieve the generic layer information.
; It is recommended to set this layermap if proper fill scripts are being used, as otherwise the exclude mechanism can not function.
; Every layer that should have a mapping needs a so-called disembodied property list (see below)
OPCLayerMap = list(
    ; a disembodied property list is a list with a nil as first entry, following that key-value pairs
    ; three keys need to be defined: layer, purpose and map. A virtuoso layer of (e.g.) list("M1" "drawing") then can be mapped to "generics.metal(1)":
    list(nil 'layer "M1" 'purpose "drawing" 'map "generics.metal(1)")
    ; further layers:
    list(nil 'layer "M2" 'purpose "drawing" 'map "generics.metal(2)")
    ; non-drawing layers can also be mapped
    list(nil 'layer "M1" 'purpose "exclude" 'map "generics.metalexclude(1)")
)

; lastly, we load the opc interface for virtuoso
load(lsprintf("%s/interface/virtuoso/init.il" OPCPath))
