; this is a sample .cdsinit that shows how to set up openPCells with cadence virtuoso

; the used technology has to be defined, this will be passed verbatim to opc
; so if you call opc like this: opc --technology tech42 ...
; then OPCTech should be "tech42"
OPCTech = "tech42"
; for this to work you also need to make sure that opc can find the technology files
; the easiest way to do this is to add the location to the config file at ~/.opcconfig.lua:
; return {
;     techpaths = {
;         "/path/to/technology_files"
;     }
; }

; the installation DIRECTORY of openPCells has to be given:
OPCPath = "/path/to/opc"

; the name of the executable (which will be 'opc' if you don't change this manually during compiling)
OPCExec = "opc"

; lastly, we load the opc interface for virtuoso
load(lsprintf("%s/interface/virtuoso/init.il" OPCPath))
